*.~*~
.packages
packages
build/
.pub/
.project
*.iml
*.ipr
*.iws
.idea/
*.dart.js
*.js_
*.js.deps
*.js.map
# custom <additional>
.dart_tool/**

pubspec.lock
test/sample_generated_code/**

# end <additional>

