#< if(_.doc != null) { >
${docComment(_.doc)}
#< } >
class ${_.enumName} implements Comparable<${_.enumName}> {
#< int i = 0; >
#< for(var value in _.values) { >
  static const ${value.shout} = const ${_.enumName}._(${i++});
#< } >

  static get values => [
    ${_.values.map((v) => v.shout).join(",\n    ")}
  ];

  final int value;

  const ${_.enumName}._(this.value);

  int compareTo(${_.enumName} other) => value.compareTo(other.value);

  String toString() {
    switch(this) {
#< for(var value in _.values) { >
      case ${value.shout}: return "${_.valueAsString(value)}";
#< } >
    }
  }

  static ${_.enumName} fromString(String s) {
    if(s == null) return null;
    switch(s) {
#< for(var value in _.values) { >
      case "${_.valueAsString(value)}": return ${value.shout};
#< } >
      default: return null;
    }
  }

#< if(_.jsonSupport) { >
  int toJson() => value;
  static ${_.enumName} fromJson(int v) {
    return v==null? null : values[v];
  }

#<   if(_.hasRandJson) { >
  static String randJson() {
   return values[_randomJsonGenerator.nextInt(${_.values.length})].toString();
  }
#<   } >
#< } >
#< if(_.hasCustom) { >

${rightTrim(indentBlock(customBlock("enum ${_.name}")))}
#< } >

}
#< if(_.libraryScopedValues) { >

#< for(var value in _.values) { >
const ${value.shout} = ${_.enumName}.${value.shout};
#< } >
#< } >
