#< if(_.doc != null) { >
${docComment(_.doc)}
#< } >
library ${_.name};

#< for(var i in _.imports) { >
${i}
#< } >
${customBlock("additional imports")}
#< for(var part in _.parts) { >
part 'src/${_.name}/${part.name}.dart';
#< } >

#< if(_.includeLogger) { >
final _logger = new Logger("${ _.name}");

#< } >
#< for(var e in _.enums) { >
${chomp(e.define())}

#< } >
#< for(var c in _.classes) { >
${chomp(c.define())}

#< } >
#< for(var v in _.variables) { >
${v.define()}
#< } >
#< if(_.includeCustom) { >
${customBlock("library ${_.name}")}
#< } >
#< if(_.includeMain) { >
main() { 
${customBlock("main")}
}
#< } else if(_.libMain != null) { >
${libMain}
#< } >
