part of ${_.parent.name};
#< for(var e in _.enums) { >

${chomp(e.define())}
#< } >
#< for(var c in _.classes) { >

${chomp(c.define())}
#< } >
#< if(_.includeCustom) { >
${customBlock("part ${_.name}")}
#< } >
#< for(var v in _.variables) { >

${chomp(v.define())}
#< } >
