name: ${_.name}
version: ${_.version}
#< if(_.author != null) {                                               >
author: ${_.author}
#< }                                                                    >
#< if(_.homepage != null) {                                             >
homepage: ${_.homepage}
#< }                                                                    >
#< if(_.doc != null) {                                                  >
description: >
${indentBlock(_.doc)}
#< }                                                                    >
dependencies:
#< for(PubDependency pbdep in _.dependencies) {                         >
${pbdep.yamlEntry}
#< } >
${scriptCustomBlock('${_.name} dependencies')}
dev_dependencies:
#< for(PubDependency pbdep in _.devDependencies) {                      >
${pbdep.yamlEntry}
#< } >
${scriptCustomBlock('${_.name} dev dependencies')}

