#!/usr/bin/env dart
#< if(_.doc != null) { >
${docComment(_.doc)}
#< } >

#< for(var i in _.imports) { >
${i}
#< } >

//! The parser for this script
ArgParser _parser;

//! The comment and usage associated with this script
void _usage() { 
  print(\'\'\'
${_.doc}
\'\'\');
  print(_parser.getUsage());
}

//! Method to parse command line options.
//! The result is a map containing all options, including positional options
Map _parseArgs() { 
  ArgResults argResults;
  Map result = { };
  List remaining = [];

  _parser = new ArgParser();
  try { 
    /// Fill in expectations of the parser
#< for(var scriptArg in _.args) { >
#<   if(scriptArg.isFlag) { >
    _parser.addFlag('${scriptArg.name}', 
      help: \'\'\'
${scriptArg.doc}
\'\'\',
      defaultsTo: ${scriptArg.defaultsTo}
    );
#<   } else if(scriptArg.position == null) { >
    _parser.addOption('${scriptArg.name}', 
#<     if(scriptArg.doc != null) { >
      help: \'\'\'
${scriptArg.doc}
\'\'\',
#<     }  >
      defaultsTo: ${scriptArg.defaultsTo == null? null : '${scriptArg.defaultsTo}'},
      allowMultiple: ${scriptArg.isMultiple},
      abbr: ${scriptArg.abbr == null? null : "'${scriptArg.abbr}'"},
      allowed: ${scriptArg.allowed.length>0 ? scriptArg.allowed.map((a) => "'$a'").toList() : null});
#<   }  >
#< } >

    /// Parse the command line options (excluding the script)
    var arguments = new Options().arguments;
    argResults = _parser.parse(arguments);
    argResults.options.forEach((opt) { 
      result[opt] = argResults[opt];
    });
#< if(_.args.where((sa) => sa.position != null).toList().length > 0) { >
    // Pull out positional args as they were named
    remaining = new List.from(argResults.rest);
#< } >
#< for(var scriptArg in _.args) { >
#<   if(scriptArg.position != null) { >
    if(${scriptArg.position} >= remaining.length) { 
      throw new ArgumentError("Positional argument ${scriptArg.name} (position ${scriptArg.position}) not avaiable - not enough args");
    }
    result['${scriptArg.name}'] = remaining.removeAt(${scriptArg.position});
#<   }  >
#< } >
    
    return { 'options': result, 'rest': remaining };

  } catch(e) { 
    _usage();
    throw e;
  }
}

final _logger = new Logger("${_.id}");

main() { 
  Logger.root.onRecord.listen(new PrintHandler());
  Logger.root.level = Level.INFO;
  Map argResults = _parseArgs();
  Map options = argResults['options'];
  List positionals = argResults['rest'];

#< var required = _.requiredArgs.toList();              >
#< if(required.length > 0) {                            >
  try { 
#<   _.requiredArgs.forEach((arg) {                     >
    if(options["${arg.name}"] == null)
      throw new ArgumentError("option: ${arg.name} is required");

#<   }); >
  } on ArgumentError catch(e) { 
    print(e);
    _usage();
  }
#< } >
${indentBlock(customBlock("${_.id} main"))}
}

${customBlock("${_.id} global")}

