#< if(_.doc != null) { >
// ${_.doc}
#< } >
#< if(_.init == null) { >
${_.isFinal? 'final ':''}${_.type} ${_.varName};
#< } else { >
${_.isFinal? 'final ':''}${_.type} ${_.varName} = ${_.init};
#< } >
